// main: style.less

.friend {
	display: flex;
	height: 93px;
	width: 50%;
	max-width: 223px;
	
	@media @mobile {
		max-width: 100%;
		width: 100%;
	}
}

.friend__avatar {
	width: 62px;
	height: 62px;
	float: left;
	margin-top: 1px;
	border-radius: 3px;
	margin-bottom: 0;
	margin-right: 17px;
	box-shadow: none;
}